/* ========== mgmt list ============== */

.tophead {
    background-color:  #e3e9ec;
}

#mgmbar {
    margin-bottom: -15px;
}

th.headerSortUp { 
    background-image: url('../img/asc.gif'); 
    background-color: #f5f5f5; 
} 
th.headerSortDown { 
    background-image: url('../img/desc.gif'); 
    background-color: #f5f5f5; 
} 
th.header { 
    /* background-image: url('../img/bg.gif');   */
    cursor: pointer; 
    /* font-weight: bold; */
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    /* border-right: 1px solid black; */
    margin-left: -1px; 
} 
#slogol {
 margin-top: 4px;
}
#plogol {
 margin-top: 4px;
 max-height: 80px;
}

/* ========== create ============== */

.c0head {
    background-color:  #404040;
    position: fixed;
    right: 0px;
    left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    z-index: 400;
}
.cont1 {
    margin-top: 200px;
}
.c0foot {
    background-color:  #d0d0d0;
}

#dropzone {
    background-color:  #ffffff;
}

#fullcretit {
    font-size: 300%; 
}

#fullcremsg {
    font-size: 150%; 
    font-weight: bold;
}

#dropmsg {
    font-size: 180%; 
    margin-right: 40px;
}

/* ========== index ============== */

.p0head {
    background-color:  #404040;
    position: fixed;
    right: 0px;
    left: 0px;
    padding: 10px;
    margin-top: 0px;
    z-index: 400;
}
.p0ch1 {
    margin-top: 160px;
    padding: 40px;
}
#stp3 {
    position: relative;
    width: 400px;
    margin: auto;
}
.p0ch2 {
    margin-top: 20px;
    padding: 40px;
    background-color:  #d0d0d0;
}
#logo {
 margin-top: 10px;
 margin-left: 10px;
 margin-bottom: 5px;
}
#demo {
 margin-top: 10px;
 margin-bottom: 10px;
}

#lang {
 margin-top: 10px;
 margin-right: 10px;
}
.title {
    color: #ffffff;
}
#connx a:link {
    color: #ffffff;
}
#connx a:visited {
    color: #ffffff;
}
#connx a:hover {
    color: #ffffff;
}

/* ========== IE kludge ============== */

@-ms-viewport       { width: device-width; }

/* ========== some tuning ============== */

#page001 {
 margin-top: 0px;
 /* background: #e3e9ec; */
}

#page002 {
 background: #e3e9ec;
}

#DOSCOM {
 width: 100%;
 height: 50px;
}

/* ========== account create ============== */

.notyet {
    opacity: 0.3;
}

/* ========== paypal form ============== */

#PPCont {
 margin: auto;
 width: 160px;
}    
