[Desktop Entry]
Name=WebDav LibreOffice
Exec=/usr/bin/libreoffice %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/vnd.sun.star.webdav;
