Options +FollowSymLinks -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^doc/(.*) /wbx.php/Doc/$1 [QSA,L]
RewriteRule ^mgt/(.*) /wbx.php/Mgmt/$1 [QSA,L]
RewriteRule ^adm/(.*) /wbx.php/Admin/$1 [QSA,L]
RewriteRule ^([0-9a-zA-Z]+)$ /wbx.php/Doc/Display/$1 [QSA,L]
